.eventSpeakers {
    margin-bottom: 10%;
}

.speakers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    .speaker {
        width: 23%;
        border-radius: 5px;
        box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);
        text-align: center;
    }
    .speaker img {
        width: 100%;
        border-radius: 5px 5px 0 0;
    }
}

.speakerText {
    padding: 5%;
    border-radius: 0 0 5px 5px;
    p.speakerName {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
    }
    p.speakerPosition {
        margin: 0;
        font-size: 13px;
        line-height: 22px;
        color: #777777;
    }
}

.speakerCircles {
    // margin: 0 auto;
    text-align: center;
    font-size: 12px;
}

.fa-circle.end {
    color: $purple;
}

.fa-circle.middle {
    color: #e85889;
    border: 1px solid #e85889;
    border-radius: 50%;
    padding: 2px;
}

.fa-circle.responsive1, .fa-circle.responsive2 {
    color: $purple;
    display: none;
}

@media (max-width: 945px) {

    .speakers {
        justify-content: space-around;
        margin-bottom: 5%;
    }
    .speakers .speaker {
        width: 30.3%;
    }
    .speaker4 {
        display: none;
    }
}

@media (max-width: 700px) {
    
    .speakers .speaker {
        width: 40%;
    }
    .speaker3 {
        display: none;
    }
    .fa-circle.responsive1 {
        display: inline-block;
    }
}

@media (max-width: 475px) {

    .speakers .speaker {
        width: 80%;
    }
    .speaker2 {
        display: none;
    }
    .fa-circle.responsive2 {
        display: inline-block;
    }
}