.countdown {
    background: #fafafa;
    padding: 5% 0;
}

.countdown .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.countdownText {
    width: 26%;
    p {
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        text-transform: uppercase;
        margin: 0;
        color: #777777;
    }
    h3 {
        margin: 0;
    }
}

.counter {
    display: flex;
}

.counterBoxes {
    display: flex;
}

.counterBox {
    width: 37px;
    height: 45px;
    background: #333333;
    color: white;
    border-radius: 5px;
    margin: 0 1%;

    font-size: 20px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
}

.counterSeparator {
    width: 14px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
}

p.counterUnits {
    color: #777777;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.counterButtons {
    display: flex;
    .ticketButton {
        background: $purple;
        transition: 0.2s;
    &:hover {
        box-shadow: 5px 5px darken($purple,10%);
    }
    }
    .detailsButton {
        background: $pink;
        transition: 0.2s;        
        margin-left: 5%;
    &:hover {
        box-shadow: 5px 5px darken($pink,20%);
    }
    }
}

.counterButtons a.ticketButton, .counterButtons a.detailsButton {
    width: 178px;
    height: 52px;
    border-radius: 5px;
    color: white;
    
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1750px) {
    .countdown .wrapper {
        flex-direction: column;
        align-items: center;        
    }

    .countdownText {
        width: 100%;
        text-align: center;
    }

    .countdownText:after {
    content: "";
    border-bottom: 1px solid #e85889;
    width: 5%;
    display: block;
    margin: 0 auto;
    padding-top: 2%;
    }

    .counter {
        margin-top: 2%;
    }
}

@media (max-width: 500px) {
    .counterSeconds {
        display: none;
    }

    .counterSeparator3 {
        display: none;
    }

    .counterButtons a.ticketButton, .counterButtons a.detailsButton {
        width: 140px;
        height: 45px;
    }  
}

