.countdown {
    background: #fafafa;
    padding: 5% 0;
}

.countdown .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // margin-bottom: 5%;
}

.countdownText {
    border: 1px solid tomato;
    width: 25%;
    p {
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        margin: 0;
    }
    h3 {
        margin: 0;
    }
}

.counter {
    border: 1px solid tomato;
    
    // width: 40%;
    // margin-left: 5%;
    display: flex;
}

.counterBoxes {
    display: flex;
}

.counterBox {
    width: 37px;
    height: 45px;
    background: #333333;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    margin: 0 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counterSeparator {
    width: 14px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p.counterUnits {
    color: #777777;
    font-size: 15px;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 26px;/* Approximation due to font substitution */
    text-align: left;
    // margin: 0;
}

.counterButtons {
    border: 1px solid tomato;
    
    // width: 33%;
    // margin-left: 5%;
    display: flex;
    .ticketButton, .detailsButton {
        width: 178px;
        height: 52px;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;

        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ticketButton {
        background: #463f8c;
    }
    .detailsButton {
        background: #e85889;
        margin-left: 3%;
    }
    .ticketButton a, .detailsButton a {
        display: inline-block;
        color: white;
        text-decoration: none;
    }
}


.ticketButton, .detailsButton {
        width: 178px;
        height: 52px;
}


a.buyTicket {
    background: #463f8c;
}

a.details {
    background: #e85889;
}


