.news {
    padding-bottom: 5%;
}

.newsGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .newsBox {
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}

.newsBoxText {
    background: #fafafa;
    h5 {
        font-size: 22px;
        font-weight: 600;
    }
    .newsSubHeading {
        font-size: 13px;
    }
    .newsBlurb {
        font-size: 14px;
    }
}

.newsBox a.readMore {
        width: 152px;
        height: 44px;
        background: $pink;
        color: white;
        border-radius: 5px;
        transition: 0.2s;

        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;

        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            box-shadow: 5px 5px darken($pink,20%);
        }
}



.newsBox1 {
    padding-right: 15px;
    background: #fafafa;
    margin-bottom: 15px;
}

.newsBox2 {
    margin-right: 15px;
    margin-bottom: 15px;
    padding-left: 35px;
}

.newsBox3 {
    padding-bottom: 15px;
    margin-left: 15px;
    background: #fafafa;
}

.newsBox4 {
    margin-top: 15px;
    margin-right: 15px;
    padding-left: 30px;
}

.newsBox5 {
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    .top {
        height: 50%;
        background: $purple;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .fa-link {
            color: white;
            font-size: 23px;
            margin-bottom: 5%;
        }
        a {
            font-family: Raleway;
            color: #ffffff;
            font-size: 18px;
            text-decoration: none;
        }
    }
    .bottom {
        height: 50%;
        padding-top: 15%;
        padding-left: 30px;
        background: #fafafa;
    }
}

.newsBox6 {
    margin-left: 15px;
    padding-left: 30px;
    .newsBlurb {
        margin-bottom: 8%;
    }
}

.newsCircles {
    display: none;
}


@media (max-width: 945px) {
      
    .newsGallery {
        width: 80%;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .newsBox1, .newsBox3, .newsBox4, .newsBox5, .newsBox6 {
        display: none;
    }

    .newsBox2 {
        width: 100%;
        padding: 0 2% 2% 2%;
        text-align: center;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
    }

    .newsCircles {
        margin-top: 2%;
        text-align: center;
        font-size: 12px;
        display: block;
}

    .fa-circle.end {
        color: $purple;
    }

    .fa-circle.middle {
        color: #e85889;
        border: 1px solid #e85889;
        border-radius: 50%;
        padding: 2px;
    }

}