.pricing {
    margin-bottom: 5%;
    padding-top: 5%;
    background: url(../images/pricing-image.png);
    background-repeat: no-repeat;
    .sectionHeadings {
        color: white;
    }
}

.pricingPlans {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 2%;
}

.plan {
    width: 31%;
    text-align: center;
    background: #fafafa;
    border: 1px solid #ececec;
    padding: 5%;
    h6 {
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        margin: 0;
    }
    p.planSubHeading {
        font-size: 14px;
        font-weight: 300;
        line-height: 26px;
    }
    p.planSubHeading:after {
        content: "";
        border-bottom: 1px solid $purple;
        width: 10%;
        display: block;
        margin: 0 auto;
        padding-top: 5%;
    }
    p.monthlyRate {
        font-size: 40px;
        font-weight: 500;
        line-height: 26px;
        sup {
            font-size: 30px;
            font-weight: 300;
            line-height: 26px;
        }
        sub {
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            color: $grey;
        }
    }
}

.planFeatures {
    margin-bottom: 15%;
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        line-height: 38px;
    }
}

// a.planButton {
//     background-color: $pink;
//     width: 178px;
//     height: 52px;
//     border-radius: 5px;
//     margin: 0 auto;

//     display: flex;
//     justify-content: center;
//     align-items: center;
//         color: white;
//         font-size: 15px;
//         font-weight: 700;
//         line-height: 26px;
//         text-decoration: none;
//         text-transform: uppercase;

// }


a.planButton {
        width: 178px;
        height: 52px;
        background: $pink;
        color: white;
        border-radius: 5px;
        transition: 0.2s;

        text-decoration: none;
        text-transform: uppercase;

        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            box-shadow: 5px 5px darken($pink,20%);
        }
    }
