.pricing {
    margin-bottom: 5%;
    padding-top: 5%;
    background: url(../images/pricing-image.png);
    background-repeat: no-repeat;
    .sectionHeadings {
        color: white;
    }
}

.pricingPlans {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 2%;
}

.plan {
    width: 31%;
    text-align: center;
    background: #fafafa;
    border: 1px solid #ececec;
    // padding: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    overflow: hidden;
    h6 {
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        margin: 0;
    }
    p.planSubHeading {
        font-size: 14px;
        font-weight: 300;
        line-height: 26px;
    }
    p.planSubHeading:after {
        content: "";
        border-bottom: 1px solid $purple;
        width: 10%;
        display: block;
        margin: 0 auto;
        padding-top: 5%;
    }
    p.monthlyRate {
        font-size: 40px;
        font-weight: 500;
        line-height: 26px;
        sup {
            font-size: 30px;
            font-weight: 300;
            line-height: 26px;
        }
        sub {
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            color: $grey;
        }
    }
}

.planFeatures {
    margin-bottom: 15%;
    width: 100%;
    text-align: center;
    ul {
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    li:before {
            content: "";
            display: block;
            width: 100%;
            border-bottom: 1px dashed #ececec;
        }
    
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        line-height: 38px;
        display: block;
        width: 100%;
    }
}


a.planButton {
    width: 178px;
    height: 52px;
    background: $pink;
    color: white;
    border-radius: 5px;
    transition: 0.2s;

    text-decoration: none;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        box-shadow: 5px 5px darken($pink,20%);
    }
}

.priceBanner {
    width: 250px;
    height: 40px;
    background: $purple;
    color: white;

    position: absolute;
    top: 4%;
    right: -25%;

    transform: rotate(45deg);
    p {
        font-family: Raleway;
        color: #ffffff;
        font-size: 13px;
        font-weight: 500;
    }
}

@media (max-width: 1750px) {
    .pricing .wrapper {
        width: 90%
    }

    .priceBanner {
        width: 80px;
        height: 80px;
        border-radius: 50%;

        top: 0;
        right: 0;
        transform: rotate(0deg);
        z-index: 1;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1100px) {
    .plan {
        overflow: visible;
    }
    .priceBanner {
        width: 50px;
        height: 50px;
        border-radius: 50%;

        top: -15px;
        right: -15px;
        transform: rotate(0deg);


        display: flex;
        justify-content: center;
        align-items: center; 
    }
}

@media (max-width: 945px) {
    .planFeatures {
        display: none;
    }
}

@media (max-width: 825px) {
    .plan {
        padding: 5% 1%;
        h6 {
            font-size: 14px;
            font-weight: 700;
        }
        p.planSubHeading {
            display: none;
        }
        p.monthlyRate {
            font-size: 30px;
            sup {
                font-size: 20px;
            }
            span {
                display: none;
            }
        }
        a.planButton {
            width:120px;
            height: 40px;
            font-size: 14px;
        }
    }
}

@media (max-width: 545px) {
    .plan {
        padding: 10% 1% 5% 1%;
    
    h6 span {
            display: none;
        }
        
        .priceBanner {
            height: 30px;
            width: 100%;
            border-radius: 0;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1;
        }
        
        a.planButton {
            height: 30px;
            width: 80px;
            &:hover {
                box-shadow: 2px 2px darken($pink,20%);  
            }  
        } 
    }
}


