.schedule {
    background: #fafafa;
    // padding: 5%;
    padding: 5% 0;
}

.scheduleMain {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    border: 1px solid red;
}

.scheduleDays {
    width: 25%;
    margin-top: 4%;
    margin-right: 5%;
}

.dayContainer {
    background: white;
    border: 1px solid #ececec;
    padding: 2%;
    width: 281px;
    height: 88px;
    padding-left: 10%;
    p.date {
        margin: 0;
        font-size: 13px;
        line-height: 26px;
    }
    p.day {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
    }
}

.dayContainer:nth-of-type(3) {
    background: $pink;
    color: white;
}

.events {
    width: 75%
}


.event {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8%;
    p.presenter {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 28px;
        span {
            font-family: Raleway;
            color: #777777;
            font-size: 13px;
            line-height: 28px;
            margin-left: 20px;
        }
    }
    p.topic {
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
    }
    p.topicBlurb {
        margin: 0;
        font-size: 13px;
        line-height: 24px;
        color: #666666;
    }
}

.presenterPhoto {
    width: 80px;
    height: 80px;
    margin-right: 2%;
    img {
        width: 100%;
        border-radius: 50%;
        display: block;
        border: 7px solid #ececec;
    }
}

.eventTextContainer {
    width: 84%;
    // border: 1px solid steelblue;
}

