.schedule {
    background: #fafafa;
    padding: 5% 0;
}

.scheduleMain {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.scheduleDays {
    width: 25%;
    margin-top: 4%;
    margin-right: 5%;
}

.dayContainer {
    background: white;
    border: 1px solid #ececec;
    padding: 2%;
    width: 281px;
    height: 88px;
    padding-left: 10%;
    p.date {
        margin: 0;
        font-size: 13px;
        line-height: 26px;
    }
    p.day {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
    }
}

.dayContainer:nth-of-type(3) {
    background: $pink;
    color: white;
}

.events {
    width: 75%;
    border-left: 1.5px dashed #ececec;
}

.event {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8%;
    position: relative;
    p.presenter {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 28px;
        span {
            font-family: Raleway;
            color: #777777;
            font-size: 13px;
            line-height: 28px;
            margin-left: 20px;
        }
    }
    p.topic {
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
    }
    p.topicBlurb {
        margin: 0;
        font-size: 13px;
        line-height: 24px;
        color: #666666;
    }
}

.event::before{
   position: absolute;
   top: 40%;
   width: 30px;
   border-bottom: 1.5px dashed #e0e0e0;
   content: "";
   display: inline-block;
   left: 1px;
}

.borderMaskTop {
    position: absolute;
    top: 0px;
    left: -15px;
    height: 40%;
    width: 30px;
    background: #fafafa;
}

.borderMaskBottom {
    position: absolute;
    bottom: -65px;
    left: -15px;
    height: 121%;
    width: 30px;
    background: #fafafa;
}

.presenterPhoto {
    width: 80px;
    height: 80px;
    margin-right: 2%;
    img {
        width: 100%;
        border-radius: 50%;
        display: block;
        border: 7px solid #ececec;
    }
}

.eventTextContainer {
    width: 84%;
}


@media (max-width: 1765px) {
    .events {
        border-left: none;
    }
    .event::before{
        display: none;   
    }
    .borderMaskBottom, .borderMaskTop {
        display: none;
    }
}

@media (max-width: 1600px) {
    .scheduleMain {
        flex-direction: column;
    }

    .scheduleDays {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 5%;
        .dayContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 0;
        }
    }

    .events {
        width: 100%;
    }
}

@media (max-width: 825px) {
    .event .topicBlurb {
        display: none;
    }
}

@media (max-width: 545px) {
    .dayContainer .day {
        
        display: none;
    }

    .event {
        align-items: center;
        .topic {
            display: none;
        }
    }
}