.wrapper {
    width: 60%;
    margin: 0 auto;
}

@media (max-width: 1250px) {
    .wrapper {
        width: 90%;
    }
}

.sectionHeadings {
    text-align: center;
    margin: 0 auto;
    padding: 0 0 5% 0;
}

.sectionHeadings:after {
    content: "";
    border-bottom: 1px solid #e85889;
    width: 5%;
    display: block;
    margin: 0 auto;
    padding-top: 2%;
}


